doctype html
html(lang='he', dir='rtl')
  block variables
  head
    link(rel='stylesheet', href='/css/layout.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block head
      title Open Knesset API
  body
    header
      h1 כנסת שקופה
    block content
    block scripts
